body {
    background-color: #ccc;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(27, 25, 25);
    margin-top: 100px;
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 0;
}

.card {
    background-color: darkslategray;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.card .avatar {
    width: 100px;
    border-radius: 50%;
    margin-top -50px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}